[project]
	description = /!\\ for testing only
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SciCed
[access "refs/for/refs/*"]
	read = group user/SciCed
	push = group user/SciCed
	label-Code-Review = -2..+2 group user/SciCed
	label-Verified = -1..+1 group user/SciCed
	rebase = group user/SciCed
	removeReviewer = group user/SciCed
	submit = group user/SciCed
[access "refs/heads/*"]
	read = group user/SciCed
	create = group user/SciCed
	push = +force group user/SciCed
	pushMerge = group user/SciCed
[access "refs/tags/*"]
	push = group user/SciCed
	push = +force group user/SciCed
